<%= link_to user_path(user.id) do %>
  <div class="card mb-3" style="max-width: 540px;padding: 5px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="<%= user.photo %>" class="img-fluid rounded-start" alt="User Photo" style="max-width: 100px;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= user.name %></h5>
        </div>
          <p class="card-text float-end">
            <small class="text-body-secondary" style="padding: 5px;">Number of posts:  <%= user.post_counter %></small>
          </p>
        </div>
    </div>
  </div>
<% end %>
